/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLE */
.mail {
    margin: 50px 100px;
}

.label--mail {
    font-size: 30px;
}

#input--mail {
    font-size: 30px;
}

#mail--submit {
    font-size: 30px;
}


.dices {
    margin: 50px 100px;
}